.orders-not-found {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.orders-not-found img {
    max-width: 20%;
}

@media screen and (max-width: 768px) {
    .orders-not-found {
        margin-top: 4rem;
    }
    .orders-not-found img {
        max-width: 50%;
    }
}