.summary {
  position: sticky;
	top: var(--cart-sticky-top);
	z-index: 10;
	height: fit-content;
  width: 100%;
}

.cart-summary-sticky {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media (max-width: 1024px) {
	.cart-summary {
		position: static;
	}
}

.summary-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #555;
}

.summary-line span:last-child {
  font-weight: 600;
  color: #333;
}

.summary-divider {
  height: 1px;
  background-color: #eee;
  margin: 1.5rem 0;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  color: #379220;
}