.alerts-list-view .p-dataview-content {
	background: transparent !important;
}

.alerts-list-view .p-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
	margin: 0;
}
