.card-alert-container {
	width: 100%;
}

.card-alert-content {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border: 1px solid #e5e7eb;
}

.card-alert-content.inactive {
	background-color: #f5f5f596;
}