.card-address-content {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.inactive {
    background-color: #f5f5f596;
}