.not-found-container {
    /* min-height: 100vh;
    width: 100%; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-container h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
}

.not-found-container p {
    text-align: center;
    margin-top: 0;
    font-size: 1rem;
    color: var(--text-color);
}

.not-found-container img {
    width: 30%;
}
